<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-expand-md navbar-dark">
          <a class="navbar-brand" href="#">Inventory Management System</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            (click)="isCollapsed = !isCollapsed"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="nav-name-wrapper">
            <p>Sunil Todkar</p>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
